.flag {
  width: 160px;
  height: auto;
}

.flag span {
  display: block;
  height: 30px;
}

#orange {
  background-color: orange;
}

#green {
  background-color: green;
}

#white {
  padding: 5px 0;
  display: grid;
  place-items: center;
}

#circle {
  width: 30px;
  height: 100%;
  border: 1px solid blue;
  border-radius: 50%;
  display: inline-block;
}
